<div class="container">
  <div id="header">
    <h1>Snippington</h1>
    <p><span class="postbox">
      <%= link_to 'New snippet', new_snippet_path %>
    </span></p>
  </div>
  <br/>
  <div class="codebox">

    <% @snippets.each do |snippet| %>
    <h2><%= snippet.title %></h2>
    <time><%= snippet.created_at %></time>
    <p><%= snippet.comment %></p>
    <code class="prettyprint"><%= snippet.code %></code>
    <hr/>
    <% end %>
  </div>
</div>
