<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @snippet.code %>
</p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Comment:</b>
  <%= @snippet.comment %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
