<!DOCTYPE html>
<html>
  <head>
    <title>Snippington</title>
    <%= javascript_include_tag "head.min.js" %>
    <%= stylesheet_link_tag "blueprint/src/reset.css", "blueprint/screen.css", "blueprint/src/typography.css", "blueprint/src/forms.css" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <%= stylesheet_link_tag :all %>
    <%= head_js_include "prettify", "rails" %>
    <%= csrf_meta_tag %>

    <% head_js_include "jquery.min", "jquery-ui.min" do %>
      $(function() {
    <% unless user_signed_in? %>
        $("#login-dialog").dialog({
          autoOpen: false,
          height: 300,
	  width: 350,
	  modal: true,
          buttons: {
            cancel:  function(){
              $(this).dialog("close");
            },
            submit:  function(){
              $('#login-form').submit();
            }
          },
          open:  function() {
           $('#login-dialog').keyup(function(e) {
             if (e.keyCode == 13) {
               $('#login-form').submit();
             }
          })}
        });

        $("#login").button().click(function(){
          $("#login-dialog").dialog("open");
        })
    <% end %>
        $("#header .header-button").button();
      
        <% if notice %>
        setTimeout(function(){
          $(".notice").hide("blind")
        }, 3000);
        <% end %>

        <% if alert %>
        setTimeout(function(){
          $(".alert").hide("blind")
        }, 3000);
        <% end %>
      });
        <% end %>
  </head>
  <body onload="prettyPrint()">
    <div id="header">
      <h1><a href="/">Snippington</a></h1>
      <p>
          <% unless user_signed_in? %>
          <button id="login">log in</button>
          <%= link_to('register', new_user_registration_path, :class => "header-button")  %>
          <% end %>

          <% if user_signed_in? %>
          <%= link_to 'New snippet', new_snippet_path, :class => "header-button" %>
          <%= link_to('log out', destroy_user_session_path, :class => "header-button") %>
          <% end %>
      </p>
    </div>
    <% unless user_signed_in? %>
    <div id="login-dialog">
      <%= form_for("user", :url => user_session_path, :html => {:id => "login-form"}) do |f| %>
      <%= label_tag(:username, "username") %>
      <%= f.text_field :username%>
      <%= label_tag(:password, "password") %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me, :checked => true, :value => "1"%> <%= f.label :remember_me %>
      <% end %> 
    </div>
    <% end %>
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
