<!DOCTYPE html>
<html>
  <head>
    <title>Snippington</title>
    <%= stylesheet_link_tag "blueprint/reset.css", "blueprint/screen.css", "blueprint/src/typography.css", "blueprint/src/forms.css" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults, "prettify.js" %>
    <%= csrf_meta_tag %>

    <script>
      $(function() {
    <% unless user_signed_in? %>
        $("#login-dialog").dialog({
          autoOpen: false,
          height: 300,
	  width: 350,
	  modal: true,
          buttons: {
            cancel:  function(){
              $(this).dialog("close");
            },
            submit:  function(){
              $('#login-form').submit();
            }
          }
        })

        $("#login").button().click(function(){
          $("#login-dialog").dialog("open");
        });    
    <% end %>
        $("#header .header-button").button();

      });
    </script>
  </head>
  <body onload="prettyPrint()">
    <div id="header">
      <h1><a href="/">Snippington</a></h1>
      <p>
          <%= link_to 'New snippet', new_snippet_path, :class => "header-button" %>
          <% unless user_signed_in? %>
          <button id="login">log in</button>
          <% end %>
      </p>
    </div>
    <% unless user_signed_in? %>
    <div id="login-dialog">
      <%= form_for("user", :url => user_session_path, :html => {:id => "login-form"}) do |f| %>
      <%= label_tag(:email, "Email") %>
      <%= f.text_field :email %>
      <%= label_tag(:password, "Password") %>
      <%= f.password_field :password %>
      <%= f.submit 'Sign in' %>
      <% end %> 
    </div>
    <% end %>
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
